version: 2.1

jobs:
  build:
    docker:
      - image: cimg/node:22.18
    steps:
      - checkout

      - run:
          name: Install dependencies
          command: npm install

      - run:
          name: Build Angular library
          command: npm run build

      - run:
          name: Run unit tests with coverage
          command: npx ng test ngx-event-bus-lib --watch=false --coverage

      - run:
          name: Upload coverage to Codecov
          command: |
            curl -s https://codecov.io/bash | bash -s -- \
              -t "$CODECOV_TOKEN" \
              -f coverage/ngx-event-bus-lib/coverage-final.json \
              -B "$CIRCLE_BRANCH" \
              -C "$CIRCLE_SHA1"

workflows:
  build-and-test:
    jobs:
      - build
      