
li {
  margin: 10px 0px;
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

.core-root-container {
  padding-top: 25px;
}

.active-route {
  color: purple;
}

button {
  margin: 0px 5px;
}